{% extends "blog/base.html" %}
{% block content %}
<div class="container blog bg-light p-5 mt-5 rounded">
      <div class="row">
        <div class="col-3 text-center">
            <a class="mugshot-container mb-1" href="{% url 'profiles:profile' question.author.pk %}">
              <div class="mugshot-img mb-2" style="background-image:url({{question.author.profile.image.url}})"></div>
              <span>{{question.author.username}}</span>
            </a>
          <small class="text-muted">{{question.date_published|date:"d/m/Y h:i a"}}</small>
        </div>
        <div class="col-9 question-information pb-1">
            <div class="question">
                <div class="question-mark">
                    <span>Q:</span>
                </div>
                <div class="question-content">
                    <h3 class="mb-0">{{question.title}}</h3>

                </div>
            </div>
            {% if request.user == question.author %}
                <div class="pl-2">
                    <a href="{% url 'advice:question_delete' question.pk %}" class="btn btn-sm btn-danger"> Delete</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}